.slide-container {width:800px; height:538px; margin-left:auto; margin-right:7.5%; overflow:hidden; text-align:center; margin-top: auto; border: solid black;}
.image-container {width:2400px; height:538px; position:relative; transition: left 2s; -webkit-transition: left 2s;}
.slider-image{float:left; margin:0; padding:0;}
.button-container{top:-20px; position: relative;}
.slider-button {display:inline-block; height: 20px; width:20px; border-radius: 10px; background-color: #DFA7FF;
  }
  #slider-image-1:target ~ .image-container {left:0px;}
  #slider-image-2:target ~ .image-container {left:-800px;}
  #slider-image-3:target ~ .image-container {left:-1600px;}
